.grid-inner {
    padding: 10px;
    overflow: hidden;
}

#splash {
    background-image: url(../images/idea_bg.jpg);
}

.idea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.25s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.idea:first-child {
    /* padding-top: 5px; */
}

.idea:last-child {
    border-bottom: 0px solid transparent;
}

.idea .grid-item {
    overflow: hidden;
}

.idea .vote {
    float: left;
    margin-right: 15px;
}

.idea .vote i {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.idea_image_wrapper {
    height: 200px;
    width: 300px;
    float: left;
    position: relative;
    margin-right: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}

.idea_image_wrapper i {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 3;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
}

.idea_image_wrapper .overlay {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.idea_image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    float: left;
    position: relative;
}

.idea .idea_desc {
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #3a3a3a;
    overflow: hidden;
}

.idea .idea_desc .title {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.idea .idea_desc .category, .idea .idea_desc .post_date {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: #939393;
}

.idea .idea_desc .category span, .idea .idea_desc .post_date span {
    color: #418040;
}

.idea .idea_desc .description {
    font-size: 13px;
    margin-top: 10px;
}

.idea .idea_desc .checklist {
    font-size: 13px;
    margin-top: 10px;
}

.idea .idea_desc .checklist span {
    font-weight: 700;
}

.idea .idea_desc .checklist ul {
    margin-top: 0;
}

.idea .idea_desc .checklist ul li {
    font-weight: 400;
}

.idea .idea_desc .checklist ul span {
    margin-top: 0;
    font-weight: 400;
    color: rgba( 0, 0, 0, 0.5);
}

#pagination {
    float: right;
    text-align: right;
}

#pagination ul {
    padding-left: 0;
    margin: 0;
}

#pagination ul li {
    display: inline-block;
    margin-right: 6px;
}

#pagination ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #418040;
}

.info {
  position: relative;
  padding: 75px 0px;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #418040; /* Old browsers */
  background: -moz-linear-gradient(top, #418040 0%, #376837 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #418040 0%,#376837 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #418040 0%,#376837 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.name{
  text-indent:50px;
  font-family: "New Courier", Courier, monospace;
  font-size: 50px;
  border-bottom: 2px solid black;
}

.namebig{
  text-indent:40px;
  font-family: "New Courier", Courier, monospace;
  font-size: 60px;
  border-bottom: 2px solid black;
}

.postedDate{
  text-align: right;
  /*color: #418040;*/
  /*border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;*/
  font-size: 18px
}

.generalInfo{
  float:left;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  width: 80%;
  color: white;
  font-size: 20px;
}

.specInfo{
  float:left;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  width: 80%;
  color: white;
  font-size: 20px;
}

.description{
  float: left;
  padding-right: 50px;
  text-align: left;
  display: block;
  width: 100%;
  margin-left: 30px;
}

.permits{
	display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal normal bold 16px/1 "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 13%, rgba(210,244,146,1) 21%, rgba(210,244,146,1) 31%, rgba(210,244,146,1) 47%, rgba(124,188,10,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 13%, rgba(210,244,146,1) 21%, rgba(210,244,146,1) 31%, rgba(210,244,146,1) 47%, rgba(124,188,10,1) 100%);
  background: linear-gradient(180deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 13%, rgba(210,244,146,1) 21%, rgba(210,244,146,1) 31%, rgba(210,244,146,1) 47%, rgba(124,188,10,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 5px 6px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 5px 6px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.tasks {
	display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal normal bold 16px/1 "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(128,118,160,1) 0, rgba(128,118,160,1) 10%, rgba(202,186,214,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(128,118,160,1) 0, rgba(128,118,160,1) 10%, rgba(202,186,214,1) 100%);
  background: linear-gradient(180deg, rgba(128,118,160,1) 0, rgba(128,118,160,1) 10%, rgba(202,186,214,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 5px 6px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 5px 6px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.imgViewer {
  width: 100%;
  height: 25em;
  background-color: #fbffdf;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover;*/
}

.rightcards{
 margin: 0 auto;
     width: 100px;
}

.leftcards{
	float:left;
	 margin: 0 auto;
     width: 100px;
}
