
#registration {
    margin: 0;
    padding: 80px 0px;
    background-image: url("../images/baltimore_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#reg {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#small {
	color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

#form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-size {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    font-family: "Open Sans", sans-serif;
}

#submit {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #418040;
    width: 400px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

#submit:hover {
    opacity:0.9;
    cursor: pointer;
}
