.grid-inner {
    padding: 10px;
    overflow: hidden;
}

#splash {
    background-image: url(../images/baltimore_bg.jpg);
}

#mapContainer {
    height: 575px;
    position:relative;
}

#map {
    height: 100%;
    position: relative;
}

.location {
    width: 25%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    position relative;
    float: left;
    transform: scale(1);
    transition: all 0.25s ease;
}

.location:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    cursor: pointer;
    z-index: 3;
}

.location .grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.location_image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.location .location_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.location .location_desc .address {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location .location_desc .features {
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.location .grid-item .ideas_count {
    background: #ffae00;
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    border-radius: 50%;
    padding: 5px 0px 0px 11px;
    box-sizing: border-box;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}

#pagination {
    float: right;
    text-align: right;
}

#pagination ul {
    padding-left: 0;
    margin: 0;
}

#pagination ul li {
    display: inline-block;
    margin-right: 6px;
}

#pagination ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #418040;
}

.info {
  position: relative;
  padding: 75px 0px;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #418040; /* Old browsers */
  background: -moz-linear-gradient(top, #418040 0%, #376837 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #418040 0%,#376837 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #418040 0%,#376837 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.imgViewer {
  width: 100%;
  height: 25em;
  background-color: #fbffdf;
  background-repeat: repeat;
  background-position: left;
}

td {
  padding: 1.5em;
}

ul{
  list-style-position: inside;
}

.name{
  text-indent:50px;
  font-family: "New Courier", Courier, monospace;
  font-size: 50px;
  border-bottom: 2px solid black;
}

.generalInfo{
  float:left;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  width: 80%;
  color: white;
  font-size: 20px;
}

.specInfo{
  float:left;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  width: 80%;
  color: white;
  font-size: 20px;
}

.description{
  float: left;
  padding-right: 50px;
  text-align: left;
  display: block;
  width: 100%;
}
.sidebar-view {
    height: 40px;
}

.sidebar-view:before {
    content: "\f00d";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 30px;
    float: right;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.sidebar-view.hidden:before {
    content: "\f0c9";
}

.sidenav a {
    text-decoration: none;
}

.sidenav {
    height: 298px;
    width: 300px;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom:0;
    margin: auto;
    right: -300px;
    background-color: white;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease;
    background: transparent;
}

.sidenav.open {
    opacity: 1;
    right: 0;
}

.side-button {
    padding: 25px;
    font-size: 18px;
    color: white;
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    box-shadow: inset 0px -1px 5px 1px rgba(0,0,0,0.1);
}

.side-button:hover {
    padding-left: 35px;
}

#sideIdea {
    background-color: #418040;
}

#sideLocation {
    background-color: #4D8C4C;
}

#sideHelp {
    background-color: #559454;
}

#sideContact {
    background-color: #609E5F;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
}
